@model StudentThesis.Models.Thesis

@{
    ViewBag.Title = "Edit";
}

<div class="container-fluid py-4">

    <div class="card shadow mb-4">
        <div class="card-header py-3" style="background-image: linear-gradient(to bottom right, #2EAAFA, #8C04DB); ">
            <h4 class="m-0 font-weight-bold text-white">Add Room & Schedule</h4>
        </div>
        <div class="card-body">



            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ThesisID)
                <br />
                <div class="row g-3">

                    <div class="col">
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = " " } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                    </div>


                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.ThesisAdviser, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = " " } })
                            @Html.ValidationMessageFor(model => model.ThesisAdviser, "", new { @class = "text-danger" })
                            <label>Thesis Adviser</label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.TechnicalCritic, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = " " } })
                            @Html.ValidationMessageFor(model => model.TechnicalCritic, "", new { @class = "text-danger" })
                            <label>Technical Critic</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = " " } })
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                            <label>Remarks</label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.Course, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = " " } })
                            @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
                            <label>Course</label>
                        </div>
                    </div>

                </div>

                <div class="row g-3">


                    <div class="col">
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.Room, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = " " } })
                            @Html.ValidationMessageFor(model => model.Room, "", new { @class = "text-danger" })
                            <label>Room</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(model => model.ScheduleDate, "{0:MM/dd/yyyy hh:mm tt}", new { @class = "form-control datetimepicker", @placeholder = " ", @autocomplete = "off" , @type="datetime-local"})
                            @Html.ValidationMessageFor(model => model.ScheduleDate, "", new { @class = "text-danger" })
                            <label>Schedule Date and Time</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.PanelistName, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = " " } })
                            @Html.ValidationMessageFor(model => model.PanelistName, "", new { @class = "text-danger" })
                            <label>Panelist</label>
                        </div>
                    </div>

                </div>

                <div class="col">
                    <div class="form-floating mb-3 visually-hidden">
                        @Html.EditorFor(model => model.ThematicArea, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = " " } })
                        @Html.ValidationMessageFor(model => model.ThematicArea, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3 visually-hidden">
                        @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = " " } })
                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <button type="submit" value="Create" class="btn btn-light rounded-pill" style="background-image: linear-gradient(to bottom left,#C7F800, #078513); color: white;">
                        <i class="bx bx-plus" style="color: #ffffff;"></i> Save
                    </button>
                    <hr />
                </div>

            }

            <button type="button" class="btn btn-light rounded-pill" style="background-image: linear-gradient(to bottom right,#0052A2, #00172D);">
                <i class="bx bxs-chevrons-left" style="color: #ffffff;"></i>
                @Html.ActionLink("Back to List", "Index", null, new { @style = "color:white;" })
            </button>

            
                @Scripts.Render("~/bundles/jqueryval")
          
        </div>
    </div>
</div>




