@model IEnumerable<StudentThesis.Models.Thesis>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid py-4 ">
   
    <div class="card shadow mb-4">
        <div class="card-header  py-3" style="background-image: linear-gradient(to bottom right, #2EAAFA, #8C04DB); ">
            <div class="d-flex align-items-center justify-content-between">

                <h4 class="m-0 font-weight-bold text-white">Student Thesis List</h4>
                <button type="button" class="btn btn-success rounded-pill" style="background-image: linear-gradient(to bottom right,#96E084, #66995A); ">
                    <i class="bx bx-plus" style="color: #ffffff;"></i>
                    @Html.ActionLink("Add New Thesis", "Create", null, new { @style = "color:white;" })
                </button>
            </div>
        </div>
        <div class="card-body">
         <br />
            <div class="table-responsive">

                <table class="table datatable table-bordered table-hover" id="" width="100%" cellspacing="0">
                    <thead style="background-image: linear-gradient(#FFFFFF, #E7E7E7);">
                        <tr>
                            <th>
                                Title
                            </th>
                            <th>
                                Remarks
                            </th>
                            <th>
                                Year
                            </th>
                            <th>
                                Thematic Area
                            </th>
                            <th>
                                Authors
                            </th>
                            <th>
                                Course
                            </th>
                            <th>
                                Status
                            </th>
                            <th style="text-align:right;">

                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>


                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remarks)
                                </td>
                                <td>
                                    @(((DateTime)item.Year).ToString("yyyy"))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ThematicArea)
                                </td>
                                <td>
                                    @foreach (var thesisMember in item.ThesisMembers)
                                    {
                                        var member = thesisMember.Member;
                                        @Html.DisplayFor(modelItem => member.MemberName)
                                        <br>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Course)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td style="text-align:center; vertical-align:middle;">
                                    <div class="btn-group-vertical">

                                        <button type="button" class="btn btn-light rounded mb-2" style="background-image: linear-gradient(to bottom right,#0052A2, #00172D);">
                                            @Html.ActionLink(" ", "ThesisEdit", new { id = item.ThesisID }, new { @style = "color:white;", @class = "bx bxs-edit" })
                                        </button>
                                      
                                        <button type="button" class="btn btn-light rounded  mb-2" style="background-image: linear-gradient(to bottom right,#320002, #880816);">
                                            @Html.ActionLink(" ", "Archive", new { id = item.ThesisID }, new { @style = "color:white;", @class = " bx bxs-trash" })
                                        </button>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>










