@model StudentThesis.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}



<div class="container-fluid py-4">

    <div class="card shadow mb-4">
        <div class="card-header py-3" style="background-image: linear-gradient(to bottom right, #2EAAFA, #8C04DB); ">
            <h4 class="m-0 font-weight-bold text-white">Add New Account</h4>
        </div>
        <div class="card-body">



            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <br />
                <div class="row g-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = " " } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            <label>Email</label>
                        </div>
                    </div>

                </div>
                <div class="row g-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = " " } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            <label>Password</label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = " " } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            <label>Confirm Password</label>
                        </div>
                    </div>
                    


                    <div class="form-group">
                        <button type="submit" value="Register" class="btn btn-light rounded-pill" style="background-image: linear-gradient(to bottom left,#C7F800, #078513); color: white;">
                            <i class="bx bx-plus" style="color: #ffffff;"></i> Register
                        </button>
                    </div>

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
                </div>
            }
    </div>
</div>









